/* utility */
:root{
    --black: black;
    --grey: grey;
    --green: rgb(112, 196, 59);
    --light-black: rgb(35, 35, 35);
    --light-grey: rgb(74, 74, 74);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: var(--black);
    width: 100vw;
    height: 90vh;
    color: white;
}

/* btn modifiche */
.container-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    color: white;
}
.box{
    align-items: baseline;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
}

/* modifiche main */

.sect-2{
    /* max-width: 100%; */
    /* margin: 0 auto; */
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 0 30px;

}
.container-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
img{
    height: 110px;

}
.card{
    position: relative;
    width: calc(100% / 7);
}
.name{
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 100;
    font-size: 15px;
    background-color: var(--light-grey);
    opacity: 0.8;
}
.box-cross{
    padding: 5px 10px;
}

/* modifiche footer */
footer{
    background-color: var(--light-black);
    color: white;
    height: 10vh;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}
.footer-1, .fa-angle-up{
    padding: 5px;
}
.container-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}

.exit{
    position: absolute;
    top:0;
    right: 0;
    color: red;
    background-color: var(--light-grey);
    padding: 10px;
}
.audio-video{
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}
.color-green{
    color: var(--green)
}
.object-anction{
    font-size: 15px;
}
.action{
    text-align: center;
}

/* iterazioni */
i:hover{
    cursor: pointer;
    color: blue;
    box-shadow: 0 0 5;
    font-size: 20px;
}
.object-anction:hover{
    cursor: pointer;
    color: blue;
    box-shadow: 0 0 5;
    font-size: 20px;
}
.box:hover{
    cursor: pointer;
    color: blue;
    box-shadow: 0 0 5;
    font-size: 20px;
}
.exit:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;

}