/* utility */
:root{
    --black: black;
    --grey: grey;
    --green: rgb(112, 196, 59);
    --light-black: rgb(35, 35, 35);
    --light-grey: rgb(74, 74, 74);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    color: white;
}
/* btn modifiche */
.sect-1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
}
.box{
    align-items: baseline;
    border: 1px solid var(--grey);
    background-color: var(--grey);
    border-radius: 5px;
}

/* modifiche main */
.sect-2{
    /* max-width: 100%; */
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.container-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
img{
    height: 110px;

}
.card{
    position: relative;
    width: calc(100% / 7);
    padding: 5px;
}
.name{
    position: absolute;
    bottom: 10px;
    left: 5px;
    z-index: 100;
    font-size: 15px;
    background-color: var(--light-grey);
    opacity: 0.8;
}
